# Basic Statistics Assignment

In [1]:
import statsmodels.api as sm
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
data = pd.read_csv('https://github.com/kaopanboonyuen/2110446_DataScience_2021s2/raw/main/datasets/adult.data.csv')
data.head()

   age         workclass  fnlwgt  ... hours-per-week  native-country salary
0   39         State-gov   77516  ...             40   United-States  <=50K
1   50  Self-emp-not-inc   83311  ...             13   United-States  <=50K
2   38           Private  215646  ...             40   United-States  <=50K
3   53           Private  234721  ...             40   United-States  <=50K
4   28           Private  338409  ...             40            Cuba  <=50K

[5 rows x 15 columns]

![alt text](https://media.giphy.com/media/L20mbc7yRfsly/giphy.gif)



```
`# This is formatted as code`
```

## Part 1: EDA

In [3]:
# 1. How many men and women (sex feature) are represented in this dataset?

# You code here

In [4]:
# 2. What is the average, min, max, std, and median age (age feature) of women?

# You code here

In [5]:
# 3. What is the percentage of United-States citizens (native-country feature)?

# You code here

In [6]:
# 4. What are the mean and standard deviation of age for those who earn more than 50K per year (salary feature) 

# You code here

In [7]:
# 5. from 4 and those who earn less than 50K per year?

# You code here

In [8]:
# 6. Is it true that people who receive more than 50k have at least high school education? 
# (education - Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters or Doctorate feature)

# You code here

In [9]:
# 7. What is the maximum number of hours a person works per week (hours-per-week feature)?

# You code here

In [10]:
# 8. How many people work such a number of hours and what is the percentage of those who earn a lot among them?

# You code here

## Part 2: Two sample t-test

Is there a significant difference between the population proportions of parents of black children and parents of Hispanic children who report that their child has had some swimming lessons?

**Populations**: All parents of black children age 6-18 and all parents of Hispanic children age 6-18  
**Parameter of Interest**: p1 - p2, where p1 = black and p2 = hispanic  

**Null Hypothesis:** p1 - p2 = 0  
**Alternative Hypthosis:** p1 - p2 $\neq$ = 0  

**Data**: 247 Parents of Black Children. 36.8% of parents report that their child has had some swimming lessons. 
<br>308 Parents of Hispanic Children. 38.9% of parents report that their child has had some swimming lessons.

> Use of `ttest_ind()` from `statsmodels`
Difference in population proportion needs t-test. Also, the population follow a binomial distribution here. We can just pass on the two population quantities with the appropriate binomial distribution parameters to the t-test function.

The function returns three values: (a) test statisic, (b) p-value of the t-test, and (c) degrees of freedom used in the t-test.

In [11]:
# You code here

## Part 3: One sample t-test

Let's say a cartwheeling competition was organized for some adults. The data looks like following,

(80.57, 98.96, 85.28, 83.83, 69.94, 89.59, 91.09, 66.25, 91.21, 82.7 , 73.54, 81.99, 54.01, 82.89, 75.88, 98.32, 107.2 , 85.53, 79.08, 84.3 , 89.32, 86.35, 78.98, 92.26, 87.01)

Is the average cartwheel distance (in inches) for adults more than 80 inches?

**Population**: All adults  
**Parameter of Interest**: $\mu$, population mean cartwheel distance.

**Null Hypothesis:** $\mu$ = 80 
<br>**Alternative Hypthosis**: $\mu$ > 80

**Data**:
<br>25 adult participants. 
<br>$\bar{x} = 83.84$
<br>$sd = 10.72$

In [12]:
# You code here