# Introduction to Pandas
<sup>Created by Natawut Nupairoj, Department of Computer Engineering, Chulalongkorn University</sup>

Pandas is one of the most popular tools in Python for data analytics.  It contains data structures and data manipulation tools designed to make data cleaning and analysis fast and easy.

In this tutorial, we will play with a dataset from kaggle to demonstrate Pandas' basic operations.  The dataset is [Trending YouTube Video Statistics](https://www.kaggle.com/datasnaek/youtube-new).  For simplicity, we will work with only US dataset ([USvideos.csv](https://www.kaggle.com/datasnaek/youtube-new?select=USvideos.csv) and [US_category_id.json](https://www.kaggle.com/datasnaek/youtube-new?select=US_category_id.json)).

We start with importing pandas and give it a short name, "pd".  We also import numpy to help with pandas

In [ ]:
import pandas as pd
import numpy as np

## Youtube Trending Data Exploration

### Downloading data files from shared drive (optional for Colab)

To simplify data retrieval process on Colab, we heck if we are in the Colab environment and download data files from a shared drive and save them in folder "data".

For those using jupyter notebook on the local computer, you can read data directly assuming you save data in the folder "data".

In [ ]:
import sys
IN_COLAB = 'google.colab' in sys.modules
if IN_COLAB:
    !wget https://github.com/kaopanboonyuen/2110446_DataScience_2021s2/raw/main/datasets/data.tgz -O data.tgz
    !tar -xzvf data.tgz

--2022-01-10 12:33:33--  https://github.com/kaopanboonyuen/2110446_DataScience_2021s2/raw/main/datasets/data.tgz
Resolving github.com (github.com)... 192.30.255.113
Connecting to github.com (github.com)|192.30.255.113|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/kaopanboonyuen/2110446_DataScience_2021s2/main/datasets/data.tgz [following]
--2022-01-10 12:33:33--  https://raw.githubusercontent.com/kaopanboonyuen/2110446_DataScience_2021s2/main/datasets/data.tgz
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 45477462 (43M) [application/octet-stream]
Saving to: ‘data.tgz’

data.tgz            100%[===================>]  43.37M   276MB/s    in 0.2s

2022-01-10 12:33:34 (276 MB/s) - ‘data.tgz’ saved [45477462/45477462]

data/
data/._GB_category_id.json
data/GB_category_id.json
data/._US_category_id.json
data/US_category_id.json
data/._USvideos.csv
data/USvideos.csv
data/._GBvideos.csv
data/GBvideos.csv

### Read input from a data file into dataframe

In [ ]:
vdo_df = pd.read_csv('data/USvideos.csv')

In [ ]:
type(vdo_df)

pandas.core.frame.DataFrame

### Show some data rows

In [ ]:
vdo_df

          video_id  ...                                        description
0      2kyS6SvSYSE  ...  SHANTELL'S CHANNEL - https://www.youtube.com/s...
1      1ZAPwfrtAFY  ...  One year after the presidential election, John...
2      5qpjK5DgCt4  ...  WATCH MY PREVIOUS VIDEO ▶ \n\nSUBSCRIBE ► http...
3      puqaWrEC7tY  ...  Today we find out if Link is a Nickelback amat...
4      d380meD0W0M  ...  I know it's been a while since we did this sho...
...            ...  ...                                                ...
40944  BZt0qjTWNhw  ...     The Cat Who Caught the Laser - Aaron's Animals
40945  1h7KV2sjUWY  ...                                                NaN
40946  D6Oy4LfoqsU  ...  I had so much fun transforming Safiyas hair in...
40947  oV0zkMe1K8s  ...  How Black Panther Should Have EndedWatch More ...
40948  ooyjaVdt-jA  ...  Call of Duty: Black Ops 4 Multiplayer raises t...

[40949 rows x 16 columns]

In [ ]:
vdo_df.head()

      video_id  ...                                        description
0  2kyS6SvSYSE  ...  SHANTELL'S CHANNEL - https://www.youtube.com/s...
1  1ZAPwfrtAFY  ...  One year after the presidential election, John...
2  5qpjK5DgCt4  ...  WATCH MY PREVIOUS VIDEO ▶ \n\nSUBSCRIBE ► http...
3  puqaWrEC7tY  ...  Today we find out if Link is a Nickelback amat...
4  d380meD0W0M  ...  I know it's been a while since we did this sho...

[5 rows x 16 columns]

In [ ]:
vdo_df.tail()

          video_id  ...                                        description
40944  BZt0qjTWNhw  ...     The Cat Who Caught the Laser - Aaron's Animals
40945  1h7KV2sjUWY  ...                                                NaN
40946  D6Oy4LfoqsU  ...  I had so much fun transforming Safiyas hair in...
40947  oV0zkMe1K8s  ...  How Black Panther Should Have EndedWatch More ...
40948  ooyjaVdt-jA  ...  Call of Duty: Black Ops 4 Multiplayer raises t...

[5 rows x 16 columns]

### Explore structure

In [ ]:
vdo_df.shape

(40949, 16)

In [ ]:
vdo_df.columns

Index(['video_id', 'trending_date', 'title', 'channel_title', 'category_id',
       'publish_time', 'tags', 'views', 'likes', 'dislikes', 'comment_count',
       'thumbnail_link', 'comments_disabled', 'ratings_disabled',
       'video_error_or_removed', 'description'],
      dtype='object')

In [ ]:
vdo_df.index

RangeIndex(start=0, stop=40949, step=1)

In [ ]:
vdo_df.dtypes

video_id                  object
trending_date             object
title                     object
channel_title             object
category_id                int64
publish_time              object
tags                      object
views                      int64
likes                      int64
dislikes                   int64
comment_count              int64
thumbnail_link            object
comments_disabled           bool
ratings_disabled            bool
video_error_or_removed      bool
description               object
dtype: object

### Show partial data
- show some rows

In [ ]:
vdo_df[0:2]

      video_id  ...                                        description
0  2kyS6SvSYSE  ...  SHANTELL'S CHANNEL - https://www.youtube.com/s...
1  1ZAPwfrtAFY  ...  One year after the presidential election, John...

[2 rows x 16 columns]

In [ ]:
vdo_df[-4:-1]

          video_id  ...                                        description
40945  1h7KV2sjUWY  ...                                                NaN
40946  D6Oy4LfoqsU  ...  I had so much fun transforming Safiyas hair in...
40947  oV0zkMe1K8s  ...  How Black Panther Should Have EndedWatch More ...

[3 rows x 16 columns]

- show some columns

Notice a difference between showing a row (slice into a serie) and multiple rows (slice into a dataframe)

In [ ]:
vdo_df['title']

0                       WE WANT TO TALK ABOUT OUR MARRIAGE
1        The Trump Presidency: Last Week Tonight with J...
2        Racist Superman | Rudy Mancuso, King Bach & Le...
3                         Nickelback Lyrics: Real or Fake?
4                                 I Dare You: GOING BALD!?
                               ...
40944                         The Cat Who Caught the Laser
40945                           True Facts : Ant Mutualism
40946    I GAVE SAFIYA NYGAARD A PERFECT HAIR MAKEOVER ...
40947                  How Black Panther Should Have Ended
40948    Official Call of Duty®: Black Ops 4 — Multipla...
Name: title, Length: 40949, dtype: object

In [ ]:
type(vdo_df['title'])

pandas.core.series.Series

In [ ]:
vdo_df.title

0                       WE WANT TO TALK ABOUT OUR MARRIAGE
1        The Trump Presidency: Last Week Tonight with J...
2        Racist Superman | Rudy Mancuso, King Bach & Le...
3                         Nickelback Lyrics: Real or Fake?
4                                 I Dare You: GOING BALD!?
                               ...
40944                         The Cat Who Caught the Laser
40945                           True Facts : Ant Mutualism
40946    I GAVE SAFIYA NYGAARD A PERFECT HAIR MAKEOVER ...
40947                  How Black Panther Should Have Ended
40948    Official Call of Duty®: Black Ops 4 — Multipla...
Name: title, Length: 40949, dtype: object

In [ ]:
vdo_df[['title', 'views', 'likes']]

                                                   title     views   likes
0                     WE WANT TO TALK ABOUT OUR MARRIAGE    748374   57527
1      The Trump Presidency: Last Week Tonight with J...   2418783   97185
2      Racist Superman | Rudy Mancuso, King Bach & Le...   3191434  146033
3                       Nickelback Lyrics: Real or Fake?    343168   10172
4                               I Dare You: GOING BALD!?   2095731  132235
...                                                  ...       ...     ...
40944                       The Cat Who Caught the Laser   1685609   38160
40945                         True Facts : Ant Mutualism   1064798   60008
40946  I GAVE SAFIYA NYGAARD A PERFECT HAIR MAKEOVER ...   1066451   48068
40947                How Black Panther Should Have Ended   5660813  192957
40948  Official Call of Duty®: Black Ops 4 — Multipla...  10306119  357079

[40949 rows x 3 columns]

In [ ]:
type(vdo_df[['title', 'views', 'likes']])

pandas.core.frame.DataFrame

- show a block

*loc* and *iloc* can be used for selecting a block or a subset of rows and columns in a dataFrame.  *loc* is for index label and column names.  *iloc* is for integer position of rows and columns.  The selecting can be applied for both read and write operations.

In [ ]:
vdo_df.loc[10:15, ['title', 'channel_title', 'publish_time']]

                                                title  ...              publish_time
10  Dion Lewis' 103-Yd Kick Return TD vs. Denver! ...  ...  2017-11-13T02:05:26.000Z
11  (SPOILERS) 'Shiva Saves the Day' Talked About ...  ...  2017-11-13T03:00:00.000Z
12         Marshmello - Blocks (Official Music Video)  ...  2017-11-13T17:00:00.000Z
13             Which Countries Are About To Collapse?  ...  2017-11-12T14:00:00.000Z
14                           SHOPPING FOR NEW FISH!!!  ...  2017-11-12T18:30:01.000Z
15                                   The New SpotMini  ...  2017-11-13T20:09:58.000Z

[6 rows x 3 columns]

In [ ]:
vdo_df.iloc[10:15, 3:5]

      channel_title  category_id
10              NFL           17
11              amc           24
12       marshmello           10
13    NowThis World           25
14  The king of DIY           15

### Remove Duplicates

Dataframe may contain some duplicate rows.

In [ ]:
vdo_df.shape

(40949, 16)

In [ ]:
vdo_nondup = vdo_df.drop_duplicates()

In [ ]:
vdo_nondup.shape

(40901, 16)

In [ ]:
vdo_df.shape

(40949, 16)

In [ ]:
vdo_df.drop_duplicates(inplace=True)

In [ ]:
vdo_df.shape

(40901, 16)

# Basic Pandas Operations

We will learn several basic pandas operations including count_values, statistical calculation, describing numerical data, boolean indexing, etc.

## Statistical Calculation

### What is the VDO with highest days in trending?
- count number of video in trending by title

In [ ]:
vdo_df.title

0                       WE WANT TO TALK ABOUT OUR MARRIAGE
1        The Trump Presidency: Last Week Tonight with J...
2        Racist Superman | Rudy Mancuso, King Bach & Le...
3                         Nickelback Lyrics: Real or Fake?
4                                 I Dare You: GOING BALD!?
                               ...
40944                         The Cat Who Caught the Laser
40945                           True Facts : Ant Mutualism
40946    I GAVE SAFIYA NYGAARD A PERFECT HAIR MAKEOVER ...
40947                  How Black Panther Should Have Ended
40948    Official Call of Duty®: Black Ops 4 — Multipla...
Name: title, Length: 40901, dtype: object

In [ ]:
vdo_df.title.value_counts()

WE MADE OUR MOM CRY...HER DREAM CAME TRUE!                                      29
Sam Smith - Pray (Official Video) ft. Logic                                     29
Mission: Impossible - Fallout (2018) - Official Trailer - Paramount Pictures    29
The Deadliest Being on Planet Earth – The Bacteriophage                         28
Bohemian Rhapsody | Teaser Trailer [HD] | 20th Century FOX                      28
                                                                                ..
Meghan Trainor & Guillermo Del Toro: Rat Enthusiasts                             1
What Happens to Diesel in Liquid Nitrogen?                                       1
Mila Kunis & Kate McKinnon Play 'Speak Out'                                      1
Roger Federer's  20th Grand Slam Victory Tribute                                 1
How Spring Looks Like around the World                                           1
Name: title, Length: 6455, dtype: int64

- **value_counts** <br> Return a Series containing unique values as its index and frequencies as its values, ordered count in descending order

### What is the minimum views to get trending?
- calculate the minimum value in the views column (statistical calculation)

In [ ]:
vdo_df.views.min()

549

**How about other statistics?**

In [ ]:
vdo_df.views.mean()

2360678.0387276593

In [ ]:
vdo_df.describe()

        category_id         views         likes      dislikes  comment_count
count  40901.000000  4.090100e+04  4.090100e+04  4.090100e+04   4.090100e+04
mean      19.970588  2.360678e+06  7.427173e+04  3.711722e+03   8.448567e+03
std        7.569362  7.397719e+06  2.289999e+05  2.904624e+04   3.745139e+04
min        1.000000  5.490000e+02  0.000000e+00  0.000000e+00   0.000000e+00
25%       17.000000  2.419720e+05  5.416000e+03  2.020000e+02   6.130000e+02
50%       24.000000  6.810640e+05  1.806900e+04  6.300000e+02   1.855000e+03
75%       25.000000  1.821926e+06  5.533800e+04  1.936000e+03   5.752000e+03
max       43.000000  2.252119e+08  5.613827e+06  1.674420e+06   1.361580e+06

**Descriptive and summary statistics methods**
- **count** <br> Number of non-NA values
- **describe** <br> Compute set of summary statistics for Series or each DataFrame column
- **min, max** <br> Compute minimum and maximum values
- **argmin, argmax** <br> Compute index locations (integer positions) at which minimum or maximum value obtained, respectively
- **idxmin, idxmax** <br> Compute index labels at which minimum or maximum value obtained, respectively
- **quantile** <br> Compute sample quantile ranging from 0 to 1
- **sum** <br> Sum of values
- **mean** <br> Mean of values
- **median** <br> Arithmetic median (50% quantile) of values
- **mad** <br> Mean absolute deviation from mean value
- **prod** <br> Product of all values
- **var** <br> Sample variance of values
- **std** <br> Sample standard deviation of values
- **skew** <br> Sample skewness (third moment) of values
- **kurt** <br> Sample kurtosis (fourth moment) of values
- **cumsum** <br> Cumulative sum of values
- **cummin, cummax** <br> Cumulative minimum or maximum of values, respectively
- **cumprod** <br> Cumulative product of values
- **diff** <br> Compute first arithmetic difference (useful for time series)
- **pct_change** <br> Compute percent changes

## Boolean Indexing

### What is the VDO with the most views?
We can use the same technique to We will learn more about advanced filtering with boolean indexing.

In [ ]:
vdo_df.views.max()

225211923

**Boolean Indexing**<br>
Performing a logical operator to a series will create a new *logical* series containing the results from the operation.  The new logical series can be used to *select* rows that are true.

In [ ]:
vdo_df.views

0          748374
1         2418783
2         3191434
3          343168
4         2095731
           ...
40944     1685609
40945     1064798
40946     1066451
40947     5660813
40948    10306119
Name: views, Length: 40901, dtype: int64

In [ ]:
vdo_df.views > 3000000

0        False
1        False
2         True
3        False
4        False
         ...
40944    False
40945    False
40946    False
40947     True
40948     True
Name: views, Length: 40901, dtype: bool

In [ ]:
vdo_df[vdo_df.views > 3000000]

          video_id  ...                                        description
2      5qpjK5DgCt4  ...  WATCH MY PREVIOUS VIDEO ▶ \n\nSUBSCRIBE ► http...
32     n1WpP7iowLc  ...  Eminem's new track Walk on Water ft. Beyoncé i...
53     9t9u_yPEidY  ...  Jennifer Lopez ft. Wisin - Amor, Amor, Amor (O...
67     t4YAyT4ihIQ  ...  WATCH MY PREVIOUS VIDEO ▶ https://youtu.be/T8j...
69     Jw1Y-zhQURU  ...  Click here to continue the story and make your...
...            ...  ...                                                ...
40941  7UoP9ABJXGE  ...  Stream + Download:https://wmna.sh/speechlessht...
40942  ju_inUnrLc4  ...  Fifth Harmony available at iTunes http://smart...
40943  1PhPYr_9zRY  ...  BTS with the PPS, the puppies. These adorable ...
40947  oV0zkMe1K8s  ...  How Black Panther Should Have EndedWatch More ...
40948  ooyjaVdt-jA  ...  Call of Duty: Black Ops 4 Multiplayer raises t...

[6448 rows x 16 columns]

In [ ]:
vdo_df[vdo_df.views > 3000000][['title', 'views']]

                                                   title     views
2      Racist Superman | Rudy Mancuso, King Bach & Le...   3191434
32            Eminem - Walk On Water (Audio) ft. Beyoncé  17158531
53     Jennifer Lopez - Amor, Amor, Amor (Official Vi...   9548677
67               Getting My Driver's License | Lele Pons   3358068
69         John Lewis Christmas Ad 2017 - #MozTheMonster   7224515
...                                                  ...       ...
40941            Dan + Shay - Speechless (Wedding Video)   5534278
40942              Fifth Harmony - Don't Say You Love Me  23502572
40943  BTS Plays With Puppies While Answering Fan Que...   8259128
40947                How Black Panther Should Have Ended   5660813
40948  Official Call of Duty®: Black Ops 4 — Multipla...  10306119

[6448 rows x 2 columns]

Multiple conditions are supported.  However, the parenthesis around each condition is essential.

In [ ]:
vdo_df[(vdo_df.views > 3000000) & (vdo_df.likes > 100000)]

          video_id  ...                                        description
2      5qpjK5DgCt4  ...  WATCH MY PREVIOUS VIDEO ▶ \n\nSUBSCRIBE ► http...
32     n1WpP7iowLc  ...  Eminem's new track Walk on Water ft. Beyoncé i...
53     9t9u_yPEidY  ...  Jennifer Lopez ft. Wisin - Amor, Amor, Amor (O...
67     t4YAyT4ihIQ  ...  WATCH MY PREVIOUS VIDEO ▶ https://youtu.be/T8j...
70     2Vv-BfVoq4g  ...  🎧: https://ad.gt/yt-perfect\n💰: https://atlant...
...            ...  ...                                                ...
40939  pcJo0tIWybY  ...  SZA's CTRL available on:Apple Music - http://s...
40942  ju_inUnrLc4  ...  Fifth Harmony available at iTunes http://smart...
40943  1PhPYr_9zRY  ...  BTS with the PPS, the puppies. These adorable ...
40947  oV0zkMe1K8s  ...  How Black Panther Should Have EndedWatch More ...
40948  ooyjaVdt-jA  ...  Call of Duty: Black Ops 4 Multiplayer raises t...

[4660 rows x 16 columns]

In [ ]:
(vdo_df.views > 3000000)

0        False
1        False
2         True
3        False
4        False
         ...
40944    False
40945    False
40946    False
40947     True
40948     True
Name: views, Length: 40901, dtype: bool

In [ ]:
(vdo_df.likes > 100000)

0        False
1        False
2         True
3        False
4         True
         ...
40944    False
40945    False
40946    False
40947     True
40948     True
Name: likes, Length: 40901, dtype: bool

Notice at row #4.  There is more than 3000000 views, but less than 100000 likes.  Thus, it will not be included in the results.

When using complex conditions, you can think more like vectorized comparison and vectorized logical operations.

In [ ]:
(vdo_df.views > 3000000) & (vdo_df.likes > 100000)

0        False
1        False
2         True
3        False
4        False
         ...
40944    False
40945    False
40946    False
40947     True
40948     True
Length: 40901, dtype: bool

Back to our original question, what is the VDO with the most views?

In [ ]:
vdo_df[vdo_df.views == vdo_df.views.max()]

          video_id  ...                                        description
38547  VYOjWnS4cMY  ...  “This is America” by Childish Gambino http://s...

[1 rows x 16 columns]

We can create a boolean series from the comparison and use it for boolean indexing.

In [ ]:
most_view_filter = (vdo_df.views == vdo_df.views.max())

In [ ]:
type(most_view_filter)

pandas.core.series.Series

In [ ]:
vdo_df[most_view_filter]

          video_id  ...                                        description
38547  VYOjWnS4cMY  ...  “This is America” by Childish Gambino http://s...

[1 rows x 16 columns]

Boolean indexing can be used with string and other logical operators

In [ ]:
vdo_df[vdo_df.title.str.contains('AI')]

          video_id  ...                                        description
44     STI2fI7sKMo  ...  Subscribe for weekly videos ▶ http://bit.ly/sj...
96     2XK4omx9uMU  ...  It shouldn't be surprising that Camila Cabello...
189    o78x918zbFk  ...  This was the most UNEXPECTED WTF I've done so ...
349    2XK4omx9uMU  ...  It shouldn't be surprising that Camila Cabello...
590    2XK4omx9uMU  ...  It shouldn't be surprising that Camila Cabello...
...            ...  ...                                                ...
40539  D6Oy4LfoqsU  ...  I had so much fun transforming Safiyas hair in...
40591  SkcucKDrbOI  ...  Website: https://www.howtotrainyourdragon.comF...
40740  D6Oy4LfoqsU  ...  I had so much fun transforming Safiyas hair in...
40804  SkcucKDrbOI  ...  Website: https://www.howtotrainyourdragon.comF...
40946  D6Oy4LfoqsU  ...  I had so much fun transforming Safiyas hair in...

[322 rows x 16 columns]

## Vectorized Calculation
When we perform mathematical calculation on a series, the calculation will be applied to each individual data.

In [ ]:
vdo_df.likes

0         57527
1         97185
2        146033
3         10172
4        132235
          ...
40944     38160
40945     60008
40946     48068
40947    192957
40948    357079
Name: likes, Length: 40901, dtype: int64

In [ ]:
vdo_df.likes / 10

0         5752.7
1         9718.5
2        14603.3
3         1017.2
4        13223.5
          ...
40944     3816.0
40945     6000.8
40946     4806.8
40947    19295.7
40948    35707.9
Name: likes, Length: 40901, dtype: float64

### What is the highest like-per-view ratio?

In [ ]:
vdo_df.likes / vdo_df.views

0        0.076869
1        0.040179
2        0.045758
3        0.029641
4        0.063097
           ...
40944    0.022639
40945    0.056356
40946    0.045073
40947    0.034086
40948    0.034647
Length: 40901, dtype: float64

In [ ]:
vdo_df['lpv_ratio'] = vdo_df.likes / vdo_df.views

In [ ]:
vdo_df[['likes', 'views', 'lpv_ratio']]

        likes     views  lpv_ratio
0       57527    748374   0.076869
1       97185   2418783   0.040179
2      146033   3191434   0.045758
3       10172    343168   0.029641
4      132235   2095731   0.063097
...       ...       ...        ...
40944   38160   1685609   0.022639
40945   60008   1064798   0.056356
40946   48068   1066451   0.045073
40947  192957   5660813   0.034086
40948  357079  10306119   0.034647

[40901 rows x 3 columns]

In [ ]:
vdo_df[vdo_df.lpv_ratio == vdo_df.lpv_ratio.max()][['title', 'likes', 'views', 'lpv_ratio']]

                                                   title  ...  lpv_ratio
10200  Bruno Mars - Finesse (Remix) [Feat. Cardi B] [...  ...   0.290466

[1 rows x 4 columns]

We can use sorting to achieve the same result.

In [ ]:
vdo_df.sort_values(by=['lpv_ratio'],ascending=False)[['title', 'likes', 'views', 'lpv_ratio']]

                                                   title  ...  lpv_ratio
10200  Bruno Mars - Finesse (Remix) [Feat. Cardi B] [...  ...   0.290466
608            Luis Fonsi, Demi Lovato - Échame La Culpa  ...   0.270613
22174                               j-hope 'Airplane' MV  ...   0.265732
14428                         dodie - Secret For The Mad  ...   0.253659
5025         Louis Tomlinson - Miss You (Official Video)  ...   0.245111
...                                                  ...  ...        ...
3401                      The New Snapchat in 60 Seconds  ...   0.000000
14497                         Why Are Fat People a Joke?  ...   0.000000
19762  Paris Hilton - “I Need You” (Official Music Vi...  ...   0.000000
16854          T-Mobile | #LittleOnes | 2018 Big Game Ad  ...   0.000000
6146   How to Write-In for the Alabama Special Electi...  ...   0.000000

[40901 rows x 4 columns]

### String Manipulation
Python has long been a popular raw data manipulation language in part due to its ease of use for string and text processing. Most text operations are made simple with the string object’s built-in methods. For more complex pattern matching and text manipulations, regular expressions may be needed. pandas adds to the mix by enabling you to apply string and regular expressions concisely on whole arrays of data, additionally handling the annoyance of missing data.

In [ ]:
vdo_df.title

0                       WE WANT TO TALK ABOUT OUR MARRIAGE
1        The Trump Presidency: Last Week Tonight with J...
2        Racist Superman | Rudy Mancuso, King Bach & Le...
3                         Nickelback Lyrics: Real or Fake?
4                                 I Dare You: GOING BALD!?
                               ...
40944                         The Cat Who Caught the Laser
40945                           True Facts : Ant Mutualism
40946    I GAVE SAFIYA NYGAARD A PERFECT HAIR MAKEOVER ...
40947                  How Black Panther Should Have Ended
40948    Official Call of Duty®: Black Ops 4 — Multipla...
Name: title, Length: 40901, dtype: object

In [ ]:
vdo_df.title.str.lower()

0                       we want to talk about our marriage
1        the trump presidency: last week tonight with j...
2        racist superman | rudy mancuso, king bach & le...
3                         nickelback lyrics: real or fake?
4                                 i dare you: going bald!?
                               ...
40944                         the cat who caught the laser
40945                           true facts : ant mutualism
40946    i gave safiya nygaard a perfect hair makeover ...
40947                  how black panther should have ended
40948    official call of duty®: black ops 4 — multipla...
Name: title, Length: 40901, dtype: object

**Partial listing of vectorized string methods**

- **cat** Concatenate strings element-wise with optional delimiter
- **contains** Return boolean array if each string contains pattern/regex
- **count** Count occurrences of pattern
- **extract** Use a regular expression with groups to extract one or more strings from a Series of strings; the result will be a DataFrame with one column per group
- **endswith** Equivalent to x.endswith(pattern) for each element
- **startswith** Equivalent to x.startswith(pattern) for each element
- **findall** Compute list of all occurrences of pattern/regex for each string
- **get** Index into each element (retrieve i-th element)
- **isalnum** Equivalent to built-in str.alnum
- **isalpha** Equivalent to built-in str.isalpha
- **isdecimal** Equivalent to built-in str.isdecimal
- **isdigit** Equivalent to built-in str.isdigit
- **islower** Equivalent to built-in str.islower
- **isnumeric** Equivalent to built-in str.isnumeric
- **isupper** Equivalent to built-in str.isupper
- **join** Join strings in each element of the Series with passed separator
- **len** Compute length of each string
- **lower, upper** Convert cases; equivalent to x.lower() or x.upper() for each element
- **match** Use re.match with the passed regular expression on each element, returning matched groups as list
- **pad** Add whitespace to left, right, or both sides of strings
- **center** Equivalent to pad(side='both')
- **repeat** Duplicate values (e.g., s.str.repeat(3) is equivalent to x * 3 for each string)
- **replace** Replace occurrences of pattern/regex with some other string
- **slice** Slice each string in the Series
- **split** Split strings on delimiter or regular expression
- **strip** Trim whitespace from both sides, including newlines
- **rstrip** Trim whitespace on right side
- **lstrip** Trim whitespace on left side

## Data Transformation
In many occasions, we will have to transform data to get the results.  The transformation can be:
- Mapping and functional transformation
- Discretization and Binning
- Datetime transformation

In [ ]:
vdo_df.head()

      video_id  ... lpv_ratio
0  2kyS6SvSYSE  ...  0.076869
1  1ZAPwfrtAFY  ...  0.040179
2  5qpjK5DgCt4  ...  0.045758
3  puqaWrEC7tY  ...  0.029641
4  d380meD0W0M  ...  0.063097

[5 rows x 17 columns]

### Mapping
We can map the values to some more useful labels.  Note that for *map* function, if we supply a dictionary, it will perform a simple mapping.  If we supply a function, it will perform that function to each data.

In [ ]:
category_mapping = {
    22: 'People & Blogs',
    24: 'Entertainment',
}

In [ ]:
vdo_df.category_id.map(category_mapping)

0        People & Blogs
1         Entertainment
2                   NaN
3         Entertainment
4         Entertainment
              ...
40944               NaN
40945    People & Blogs
40946     Entertainment
40947               NaN
40948               NaN
Name: category_id, Length: 40901, dtype: object

In [ ]:
vdo_df.likes

0         57527
1         97185
2        146033
3         10172
4        132235
          ...
40944     38160
40945     60008
40946     48068
40947    192957
40948    357079
Name: likes, Length: 40901, dtype: int64

In [ ]:
vdo_df.likes.map(lambda x: 'love' if x > 100000 else 'hate')

0        hate
1        hate
2        love
3        hate
4        love
         ...
40944    hate
40945    hate
40946    hate
40947    love
40948    love
Name: likes, Length: 40901, dtype: object

### What is the most frequet tags being used?

**map** is a one-to-one mapping function.  This means the number of output rows will always be the same as the number of input rows.  We can create one-to-many mapping with **apply**.

In [ ]:
vdo_df.tags

0                                          SHANtell martin
1        last week tonight trump presidency|"last week ...
2        racist superman|"rudy"|"mancuso"|"king"|"bach"...
3        rhett and link|"gmm"|"good mythical morning"|"...
4        ryan|"higa"|"higatv"|"nigahiga"|"i dare you"|"...
                               ...
40944    aarons animals|"aarons"|"animals"|"cat"|"cats"...
40945                                               [none]
40946    I gave safiya nygaard a perfect hair makeover ...
40947    Black Panther|"HISHE"|"Marvel"|"Infinity War"|...
40948        call of duty|"cod"|"activision"|"Black Ops 4"
Name: tags, Length: 40901, dtype: object

In [ ]:
tags_split = vdo_df.tags.apply(lambda x: x.split('|'))

In [ ]:
tags_split

0                                        [SHANtell martin]
1        [last week tonight trump presidency, "last wee...
2        [racist superman, "rudy", "mancuso", "king", "...
3        [rhett and link, "gmm", "good mythical morning...
4        [ryan, "higa", "higatv", "nigahiga", "i dare y...
                               ...
40944    [aarons animals, "aarons", "animals", "cat", "...
40945                                             [[none]]
40946    [I gave safiya nygaard a perfect hair makeover...
40947    [Black Panther, "HISHE", "Marvel", "Infinity W...
40948    [call of duty, "cod", "activision", "Black Ops...
Name: tags, Length: 40901, dtype: object

In [ ]:
tags = tags_split.explode()
tags

0                           SHANtell martin
1        last week tonight trump presidency
1          "last week tonight donald trump"
1                       "john oliver trump"
1                            "donald trump"
                        ...
40947                    "ending explained"
40948                          call of duty
40948                                 "cod"
40948                          "activision"
40948                         "Black Ops 4"
Name: tags, Length: 807062, dtype: object

Let's clean some punctuation before counting values.

In [ ]:
tags = tags.str.strip().str.replace(r'[\"\'\.]', ' ')
tags

0                           SHANtell martin
1        last week tonight trump presidency
1           last week tonight donald trump
1                        john oliver trump
1                             donald trump
                        ...
40947                     ending explained
40948                          call of duty
40948                                  cod
40948                           activision
40948                          Black Ops 4
Name: tags, Length: 807062, dtype: object

In [ ]:
tags.unique()

array(['SHANtell martin', 'last week tonight trump presidency',
       ' last week tonight donald trump ', ..., ' best hamburger ',
       ' langford ', ' katherine langford '], dtype=object)

In [ ]:
len(tags.unique())

58121

In [ ]:
tags.value_counts()

 funny                         3578
 comedy                        2860
 how to                        1558
[none]                         1534
 Pop                           1271
                               ...
 this is us 2x14 preview          1
 plead the fifth wwhl             1
blade                             1
 crosses up wesley johnson        1
 Scripts                          1
Name: tags, Length: 58121, dtype: int64

### Discretization and Binning
Continuous data is often discretized or separted into *bins* for analysis.

In [ ]:
views_range = [0, 1000000, 5000000, 10000000]
bin_names = ['some views', 'more views', 'lots of views']
vdo_df['views_level'] = pd.cut(vdo_df.views, views_range, labels=bin_names)

In [ ]:
vdo_df[['title', 'views', 'views_level']]

                                                   title  ...    views_level
0                     WE WANT TO TALK ABOUT OUR MARRIAGE  ...     some views
1      The Trump Presidency: Last Week Tonight with J...  ...     more views
2      Racist Superman | Rudy Mancuso, King Bach & Le...  ...     more views
3                       Nickelback Lyrics: Real or Fake?  ...     some views
4                               I Dare You: GOING BALD!?  ...     more views
...                                                  ...  ...            ...
40944                       The Cat Who Caught the Laser  ...     more views
40945                         True Facts : Ant Mutualism  ...     more views
40946  I GAVE SAFIYA NYGAARD A PERFECT HAIR MAKEOVER ...  ...     more views
40947                How Black Panther Should Have Ended  ...  lots of views
40948  Official Call of Duty®: Black Ops 4 — Multipla...  ...            NaN

[40901 rows x 3 columns]

### Datetime Transformation

In [ ]:
vdo_df.publish_time

0        2017-11-13T17:13:01.000Z
1        2017-11-13T07:30:00.000Z
2        2017-11-12T19:05:24.000Z
3        2017-11-13T11:00:04.000Z
4        2017-11-12T18:01:41.000Z
                   ...
40944    2018-05-18T13:00:04.000Z
40945    2018-05-18T01:00:06.000Z
40946    2018-05-18T17:34:22.000Z
40947    2018-05-17T17:00:04.000Z
40948    2018-05-17T17:09:38.000Z
Name: publish_time, Length: 40901, dtype: object

In [ ]:
pd.to_datetime(vdo_df.publish_time)

0       2017-11-13 17:13:01+00:00
1       2017-11-13 07:30:00+00:00
2       2017-11-12 19:05:24+00:00
3       2017-11-13 11:00:04+00:00
4       2017-11-12 18:01:41+00:00
                   ...
40944   2018-05-18 13:00:04+00:00
40945   2018-05-18 01:00:06+00:00
40946   2018-05-18 17:34:22+00:00
40947   2018-05-17 17:00:04+00:00
40948   2018-05-17 17:09:38+00:00
Name: publish_time, Length: 40901, dtype: datetime64[ns, UTC]

### Which VDO does take the longest time to be trending?
Let's try to find the answer for this question.  Obviously, we will need to use find number of days between publish_time to trending_date.

In [ ]:
vdo_df['publish_dt'] = pd.to_datetime(vdo_df.publish_time)

In [ ]:
vdo_df.dtypes

video_id                               object
trending_date                          object
title                                  object
channel_title                          object
category_id                             int64
publish_time                           object
tags                                   object
views                                   int64
likes                                   int64
dislikes                                int64
comment_count                           int64
thumbnail_link                         object
comments_disabled                        bool
ratings_disabled                         bool
video_error_or_removed                   bool
description                            object
lpv_ratio                             float64
views_level                          category
publish_dt                datetime64[ns, UTC]
dtype: object

In [ ]:
from datetime import datetime, timezone

In [ ]:
may2008 = datetime(2008, 5, 1, tzinfo=timezone.utc)

In [ ]:
vdo_df[vdo_df.publish_dt < may2008]

          video_id trending_date  ... views_level                publish_dt
10710  UQtt9I6c-YM      18.06.01  ...  some views 2008-04-05 18:22:40+00:00
10921  UQtt9I6c-YM      18.07.01  ...  some views 2008-04-05 18:22:40+00:00
11150  UQtt9I6c-YM      18.08.01  ...  some views 2008-04-05 18:22:40+00:00
11375  UQtt9I6c-YM      18.09.01  ...  some views 2008-04-05 18:22:40+00:00
16294  MJO3FmmFuh4      18.05.02  ...  some views 2006-07-23 08:24:11+00:00

[5 rows x 19 columns]

Now, we have to transform the *trending_date* from string to datetime.  The format is yy.dd.mm where yy is the last two digits of year.

In [ ]:
vdo_df.trending_date

0        17.14.11
1        17.14.11
2        17.14.11
3        17.14.11
4        17.14.11
           ...
40944    18.14.06
40945    18.14.06
40946    18.14.06
40947    18.14.06
40948    18.14.06
Name: trending_date, Length: 40901, dtype: object

In [ ]:
vdo_df['trending_dt'] = pd.to_datetime(vdo_df.trending_date, format='%y.%d.%m', errors='ignore', utc=True)

In [ ]:
vdo_df.trending_dt

0       2017-11-14 00:00:00+00:00
1       2017-11-14 00:00:00+00:00
2       2017-11-14 00:00:00+00:00
3       2017-11-14 00:00:00+00:00
4       2017-11-14 00:00:00+00:00
                   ...
40944   2018-06-14 00:00:00+00:00
40945   2018-06-14 00:00:00+00:00
40946   2018-06-14 00:00:00+00:00
40947   2018-06-14 00:00:00+00:00
40948   2018-06-14 00:00:00+00:00
Name: trending_dt, Length: 40901, dtype: datetime64[ns, UTC]

In [ ]:
vdo_df['days_to_trending'] = vdo_df.trending_dt.dt.date - vdo_df.publish_dt.dt.date

In [ ]:
vdo_df.days_to_trending

0        1 days
1        1 days
2        2 days
3        1 days
4        2 days
          ...
40944   27 days
40945   27 days
40946   27 days
40947   28 days
40948   28 days
Name: days_to_trending, Length: 40901, dtype: timedelta64[ns]

In [ ]:
vdo_df.days_to_trending.mean()

Timedelta('16 days 19:50:39.857216205')

In [ ]:
vdo_df.days_to_trending.max()

Timedelta('4215 days 00:00:00')

In [ ]:
vdo_df[vdo_df.days_to_trending == vdo_df.days_to_trending.max()]

          video_id trending_date  ...               trending_dt days_to_trending
16294  MJO3FmmFuh4      18.05.02  ... 2018-02-05 00:00:00+00:00        4215 days

[1 rows x 21 columns]

In [ ]:
vdo_df.days_to_trending.describe()

count                          40901
mean      16 days 19:50:39.857216205
std      146 days 02:22:47.782206980
min                  0 days 00:00:00
25%                  3 days 00:00:00
50%                  5 days 00:00:00
75%                  9 days 00:00:00
max               4215 days 00:00:00
Name: days_to_trending, dtype: object