# Import Library

In [ ]:
import pandas as pd
import numpy as np

# Series

## Create Series

There are many approaches to create a Series.  We first create a Series with 5 elements from a list:

Index | Data (int)
:---: | :---:
0 | 14
1 | -8
2 | 0
3 | 3
4 | 9

Note that **integer index starts from 0**

In [ ]:
# create Series from a list
s1 = pd.Series([14, -8, 0, 3, 9])
s1

0    14
1    -8
2     0
3     3
4     9
dtype: int64

In [ ]:
type(s1)

pandas.core.series.Series

In [ ]:
s1.dtype

dtype('int64')

In [ ]:
s1.values

array([14, -8,  0,  3,  9])

In [ ]:
s1.index

RangeIndex(start=0, stop=5, step=1)

In [ ]:
#Get value in index 0
print(s1[0])
print(s1[2])

14
0

## Create Series with Index

We can create a Series with labels as index.  A label can be an arbitary string.  Although, we assign labels to the Series, integer index still exists.

Index | Label | Data (int)
:---: | :---: | :---:
0 | d | 14
1 | b | -8
2 | a | 0
3 | c | 3
4 | x | 9

Note that when we display a Series, it will show labels (if exist) or integer index (otherwise).

In [ ]:
# create series with index, which can be numbers or strings
s2 = pd.Series([14, -8, 0, 3, 9], index=['d','a','b','c', 'x'])
s2

d    14
a    -8
b     0
c     3
x     9
dtype: int64

In [ ]:
s2.index

Index(['d', 'a', 'b', 'c', 'x'], dtype='object')

In [ ]:
#Get value in index 'a'
print(s2['a'])
print(s2[1])

-8
-8

# Series Operation

In [ ]:
s2.values

array([14, -8,  0,  3,  9])

In [ ]:
# Apply with Lambda
s2.apply(lambda x : x**2)

d    196
a     64
b      0
c      9
x     81
dtype: int64

In [ ]:
# Apply with method
def power(x):
    return x**2
s2.apply(power)

d    196
a     64
b      0
c      9
x     81
dtype: int64

In [ ]:
s2

d    14
a    -8
b     0
c     3
x     9
dtype: int64

# DataFrame

## Create DataFrame from List

There are several approaches to create a DataFrame.  A simple one is to create from dict.
We create the following DataFrame:

Index | province | year | population
:---: | :---: | :---: | :---:
0 | Chiang Mai | 2016 | 1630428
1 | Chiang Mai | 2017 | 1664012
2 | Chiang Mai | 2018 | 1687971
3 | Phrae | 2016 | 398936
4 | Phrae | 2017 | 410382
5 | Phrae | 2018 | 421653

In [ ]:
# Create From a List
data = [
    ['Chiang Mai', 2016, 1630428],
    ['Chiang Mai', 2017, 1664012],
    ['Chiang Mai', 2018, 1687971],
    ['Phrae', 2016, 398936],
    ['Phrae', 2017, 410382],
    ['Phrae', 2018, 421653]
]
df = pd.DataFrame(
    data=data,
    columns=['province','year','population']
)
df

     province  year  population
0  Chiang Mai  2016     1630428
1  Chiang Mai  2017     1664012
2  Chiang Mai  2018     1687971
3       Phrae  2016      398936
4       Phrae  2017      410382
5       Phrae  2018      421653

In [ ]:
# Create From a Dict
data = {
    'province': ['Chiang Mai', 'Chiang Mai', 'Chiang Mai', 'Phrae', 'Phrae', 'Phrae'],
    'year': [2016, 2017, 2018, 2016, 2017, 2018],
    'population': [1630428, 1664012, 1687971, 398936, 410382, 421653]
}
df = pd.DataFrame(data)
df

     province  year  population
0  Chiang Mai  2016     1630428
1  Chiang Mai  2017     1664012
2  Chiang Mai  2018     1687971
3       Phrae  2016      398936
4       Phrae  2017      410382
5       Phrae  2018      421653

In [ ]:
# Pandas to List
df.values.tolist()

[['Chiang Mai', 2016, 1630428],
 ['Chiang Mai', 2017, 1664012],
 ['Chiang Mai', 2018, 1687971],
 ['Phrae', 2016, 398936],
 ['Phrae', 2017, 410382],
 ['Phrae', 2018, 421653]]

## Create DataFrame from File

### Download Data

### Read File

In [ ]:
df = pd.read_csv('https://github.com/kaopanboonyuen/2110446_DataScience_2021s2/raw/main/datasets/sample.csv')
df

     province  year  population
0  Chiang Mai  2016     1630428
1  Chiang Mai  2017     1664012
2  Chiang Mai  2018     1687971
3       Phrae  2016      398936
4       Phrae  2017      410382
5       Phrae  2018      421653

In [ ]:
df = pd.read_excel('https://github.com/kaopanboonyuen/2110446_DataScience_2021s2/raw/main/datasets/sample.xlsx', sheet_name='sheet1')
df

     province  year  population
0  Chiang Mai  2016     1630428
1  Chiang Mai  2017     1664012
2  Chiang Mai  2018     1687971
3       Phrae  2016      398936
4       Phrae  2017      410382
5       Phrae  2018      421653

In [ ]:
df2 = pd.read_sas('https://github.com/kaopanboonyuen/2110446_DataScience_2021s2/raw/main/datasets/pva97nk.sas7bdat')
df2

      TARGET_B           ID  ...  DemPctVeterans  DemMedIncome
0          0.0  b'00014974'  ...             0.0           0.0
1          0.0  b'00006294'  ...            85.0           0.0
2          1.0  b'00046110'  ...            36.0       38750.0
3          1.0  b'00185937'  ...            27.0       38942.0
4          0.0  b'00029637'  ...            37.0       71509.0
...        ...          ...  ...             ...           ...
9681       1.0  b'00002796'  ...            38.0       45909.0
9682       0.0  b'00184939'  ...            35.0       50530.0
9683       1.0  b'00184974'  ...            32.0           0.0
9684       0.0  b'00184994'  ...            32.0       62717.0
9685       0.0  b'00001928'  ...            36.0       59813.0

[9686 rows x 28 columns]

### Write File

In [ ]:
df.to_csv('sample_test.csv', index=False)

In [ ]:
df.to_excel('sample_test.xlsx', sheet_name='sheet1', index=False)

## Index

In [ ]:
# Index
df.set_index('province')

            year  population
province
Chiang Mai  2016     1630428
Chiang Mai  2017     1664012
Chiang Mai  2018     1687971
Phrae       2016      398936
Phrae       2017      410382
Phrae       2018      421653

In [ ]:
# Index
df2 = df.set_index(['province','year'])
df2

                 population
province   year
Chiang Mai 2016     1630428
           2017     1664012
           2018     1687971
Phrae      2016      398936
           2017      410382
           2018      421653

In [ ]:
df2.reset_index()

     province  year  population
0  Chiang Mai  2016     1630428
1  Chiang Mai  2017     1664012
2  Chiang Mai  2018     1687971
3       Phrae  2016      398936
4       Phrae  2017      410382
5       Phrae  2018      421653

## Inspecting Data

### Row

#### View

In [ ]:
df.head(3)

     province  year  population
0  Chiang Mai  2016     1630428
1  Chiang Mai  2017     1664012
2  Chiang Mai  2018     1687971

In [ ]:
df.tail(3)

  province  year  population
3    Phrae  2016      398936
4    Phrae  2017      410382
5    Phrae  2018      421653

#### Sample

In [ ]:
#Random
display(df.sample(3))
display(df.sample(3))

     province  year  population
3       Phrae  2016      398936
2  Chiang Mai  2018     1687971
1  Chiang Mai  2017     1664012

     province  year  population
4       Phrae  2017      410382
1  Chiang Mai  2017     1664012
5       Phrae  2018      421653

In [ ]:
#Random with fix random_state
display(df.sample(3, random_state = 123))
display(df.sample(3, random_state = 123))

     province  year  population
1  Chiang Mai  2017     1664012
3       Phrae  2016      398936
4       Phrae  2017      410382

     province  year  population
1  Chiang Mai  2017     1664012
3       Phrae  2016      398936
4       Phrae  2017      410382

#### Get Some Rows

In [ ]:
df2 = df.set_index(['province'])
df2

            year  population
province
Chiang Mai  2016     1630428
Chiang Mai  2017     1664012
Chiang Mai  2018     1687971
Phrae       2016      398936
Phrae       2017      410382
Phrae       2018      421653

In [ ]:
# Index Position
df2.iloc[0]

year             2016
population    1630428
Name: Chiang Mai, dtype: int64

In [ ]:
# Index Position
df2.iloc[1:4]

            year  population
province
Chiang Mai  2017     1664012
Chiang Mai  2018     1687971
Phrae       2016      398936

In [ ]:
# Index name
df2.loc['Chiang Mai']

            year  population
province
Chiang Mai  2016     1630428
Chiang Mai  2017     1664012
Chiang Mai  2018     1687971

In [ ]:
# Index name
df2.loc[['Chiang Mai','Phrae']]

            year  population
province
Chiang Mai  2016     1630428
Chiang Mai  2017     1664012
Chiang Mai  2018     1687971
Phrae       2016      398936
Phrae       2017      410382
Phrae       2018      421653

### Column

In [ ]:
df.columns

Index(['province', 'year', 'population'], dtype='object')

In [ ]:
columns_list = ['year','population']
df[columns_list]

   year  population
0  2016     1630428
1  2017     1664012
2  2018     1687971
3  2016      398936
4  2017      410382
5  2018      421653

In [ ]:
df.year

0    2016
1    2017
2    2018
3    2016
4    2017
5    2018
Name: year, dtype: int64

#### Drop

In [ ]:
df.drop(columns=['province'])

   year  population
0  2016     1630428
1  2017     1664012
2  2018     1687971
3  2016      398936
4  2017      410382
5  2018      421653

In [ ]:
df

     province  year  population
0  Chiang Mai  2016     1630428
1  Chiang Mai  2017     1664012
2  Chiang Mai  2018     1687971
3       Phrae  2016      398936
4       Phrae  2017      410382
5       Phrae  2018      421653

#### Rename

In [ ]:
mapper = {
    'province':'Province',
    'year':'Year',
    'population':'Population'
}
df.rename(columns=mapper)

     Province  Year  Population
0  Chiang Mai  2016     1630428
1  Chiang Mai  2017     1664012
2  Chiang Mai  2018     1687971
3       Phrae  2016      398936
4       Phrae  2017      410382
5       Phrae  2018      421653

#### Create/Replace Column with Value/Array

In [ ]:
df['source'] = 'A'
df

     province  year  population source
0  Chiang Mai  2016     1630428      A
1  Chiang Mai  2017     1664012      A
2  Chiang Mai  2018     1687971      A
3       Phrae  2016      398936      A
4       Phrae  2017      410382      A
5       Phrae  2018      421653      A

In [ ]:
df['source'] = ['A','B','A','C','A','B']
df

     province  year  population source
0  Chiang Mai  2016     1630428      A
1  Chiang Mai  2017     1664012      B
2  Chiang Mai  2018     1687971      A
3       Phrae  2016      398936      C
4       Phrae  2017      410382      A
5       Phrae  2018      421653      B

In [ ]:
df['population (K)'] = df['population'] / 1000
df

     province  year  population source  population (K)
0  Chiang Mai  2016     1630428      A        1630.428
1  Chiang Mai  2017     1664012      B        1664.012
2  Chiang Mai  2018     1687971      A        1687.971
3       Phrae  2016      398936      C         398.936
4       Phrae  2017      410382      A         410.382
5       Phrae  2018      421653      B         421.653

In [ ]:
df['population (K)'] = df['population'].apply(lambda x : x / 1000)
df

     province  year  population source  population (K)
0  Chiang Mai  2016     1630428      A        1630.428
1  Chiang Mai  2017     1664012      B        1664.012
2  Chiang Mai  2018     1687971      A        1687.971
3       Phrae  2016      398936      C         398.936
4       Phrae  2017      410382      A         410.382
5       Phrae  2018      421653      B         421.653

### DataFrame Information

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
df.shape

(6, 5)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   province        6 non-null      object
 1   year            6 non-null      int64
 2   population      6 non-null      int64
 3   source          6 non-null      object
 4   population (K)  6 non-null      float64
dtypes: float64(1), int64(2), object(2)
memory usage: 368.0+ bytes

In [ ]:
df.dtypes

province           object
year                int64
population          int64
source             object
population (K)    float64
dtype: object

## Filtering and Sorting

### Filtering

In [ ]:
condition_list = [True,True,True,True,True,True]
df[condition_list]

     province  year  population source  population (K)
0  Chiang Mai  2016     1630428      A        1630.428
1  Chiang Mai  2017     1664012      B        1664.012
2  Chiang Mai  2018     1687971      A        1687.971
3       Phrae  2016      398936      C         398.936
4       Phrae  2017      410382      A         410.382
5       Phrae  2018      421653      B         421.653

In [ ]:
condition_list = [True,False,True,False,True,False]
df[condition_list]

     province  year  population source  population (K)
0  Chiang Mai  2016     1630428      A        1630.428
2  Chiang Mai  2018     1687971      A        1687.971
4       Phrae  2017      410382      A         410.382

In [ ]:
condition_list = df['province'] == 'Chiang Mai'
print(condition_list)
display(df[condition_list])

0     True
1     True
2     True
3    False
4    False
5    False
Name: province, dtype: bool

     province  year  population source  population (K)
0  Chiang Mai  2016     1630428      A        1630.428
1  Chiang Mai  2017     1664012      B        1664.012
2  Chiang Mai  2018     1687971      A        1687.971

In [ ]:
condition_list = df['population'] > 1000000
print(condition_list)
display(df[condition_list])

0     True
1     True
2     True
3    False
4    False
5    False
Name: population, dtype: bool

     province  year  population source  population (K)
0  Chiang Mai  2016     1630428      A        1630.428
1  Chiang Mai  2017     1664012      B        1664.012
2  Chiang Mai  2018     1687971      A        1687.971

In [ ]:
# Multiple condition (and)
condition_list = (df['province'] == 'Chiang Mai') & (df['population'] > 1000000)
print(condition_list)
display(df[condition_list])

0     True
1     True
2     True
3    False
4    False
5    False
dtype: bool

     province  year  population source  population (K)
0  Chiang Mai  2016     1630428      A        1630.428
1  Chiang Mai  2017     1664012      B        1664.012
2  Chiang Mai  2018     1687971      A        1687.971

In [ ]:
# Multiple condition (or)
condition_list = (df['province'] == 'Chiang Mai') | (df['population'] > 1000000)
print(condition_list)
display(df[condition_list])

0     True
1     True
2     True
3    False
4    False
5    False
dtype: bool

     province  year  population source  population (K)
0  Chiang Mai  2016     1630428      A        1630.428
1  Chiang Mai  2017     1664012      B        1664.012
2  Chiang Mai  2018     1687971      A        1687.971

### Sorting

In [ ]:
df.sort_values(by='population')

     province  year  population source  population (K)
3       Phrae  2016      398936      C         398.936
4       Phrae  2017      410382      A         410.382
5       Phrae  2018      421653      B         421.653
0  Chiang Mai  2016     1630428      A        1630.428
1  Chiang Mai  2017     1664012      B        1664.012
2  Chiang Mai  2018     1687971      A        1687.971

In [ ]:
df.sort_values(by='population', ascending=False)

     province  year  population source  population (K)
2  Chiang Mai  2018     1687971      A        1687.971
1  Chiang Mai  2017     1664012      B        1664.012
0  Chiang Mai  2016     1630428      A        1630.428
5       Phrae  2018      421653      B         421.653
4       Phrae  2017      410382      A         410.382
3       Phrae  2016      398936      C         398.936

In [ ]:
df.sort_values(by=['year','population'], ascending=[True,False])

     province  year  population source  population (K)
0  Chiang Mai  2016     1630428      A        1630.428
3       Phrae  2016      398936      C         398.936
1  Chiang Mai  2017     1664012      B        1664.012
4       Phrae  2017      410382      A         410.382
2  Chiang Mai  2018     1687971      A        1687.971
5       Phrae  2018      421653      B         421.653

In [ ]:
df3=df.sort_values(by=['year','population'], ascending=[True,False])

In [ ]:
 df3

     province  year  population source  population (K)
0  Chiang Mai  2016     1630428      A        1630.428
3       Phrae  2016      398936      C         398.936
1  Chiang Mai  2017     1664012      B        1664.012
4       Phrae  2017      410382      A         410.382
2  Chiang Mai  2018     1687971      A        1687.971
5       Phrae  2018      421653      B         421.653

## Basic Statistic

**Descriptive and summary statistics methods**
- **count** <br> Number of non-NA values
- **describe** <br> Compute set of summary statistics for Series or each DataFrame column
- **min, max** <br> Compute minimum and maximum values
- **argmin, argmax** <br> Compute index locations (integers) at which minimum or maximum value obtained, respectively
- **idxmin, idxmax** <br> Compute index labels at which minimum or maximum value obtained, respectively
- **quantile** <br> Compute sample quantile ranging from 0 to 1
- **sum** <br> Sum of values
- **mean** <br> Mean of values
- **median** <br> Arithmetic median (50% quantile) of values
- **mad** <br> Mean absolute deviation from mean value
- **prod** <br> Product of all values
- **var** <br> Sample variance of values
- **std** <br> Sample standard deviation of values
- **skew** <br> Sample skewness (third moment) of values
- **kurt** <br> Sample kurtosis (fourth moment) of values
- **cumsum** <br> Cumulative sum of values
- **cummin, cummax** <br> Cumulative minimum or maximum of values, respectively
- **cumprod** <br> Cumulative product of values
- **diff** <br> Compute first arithmetic difference (useful for time series)
- **pct_change** <br> Compute percent changes

### Numeric

In [ ]:
# Find Mean in all numeric columns
df.mean()

year              2.017000e+03
population        1.035564e+06
population (K)    1.035564e+03
dtype: float64

In [ ]:
# Find Mean in some column
df['population'].mean()

1035563.6666666666

In [ ]:
# Find Mean in some column
column_list = ['population','population (K)']
df[column_list].mean()

population        1.035564e+06
population (K)    1.035564e+03
dtype: float64

In [ ]:
df[column_list].count()

population        6
population (K)    6
dtype: int64

In [ ]:
df[column_list].min()

population        398936.000
population (K)       398.936
dtype: float64

In [ ]:
df[column_list].max()

population        1687971.000
population (K)       1687.971
dtype: float64

In [ ]:
df[column_list].median()

population        1.026040e+06
population (K)    1.026041e+03
dtype: float64

In [ ]:
df[column_list].std()

population        685197.697059
population (K)       685.197697
dtype: float64

In [ ]:
df[column_list].corr()

                population  population (K)
population             1.0             1.0
population (K)         1.0             1.0

In [ ]:
df.quantile(0.75)

year                 2017.750
population        1655616.000
population (K)       1655.616
Name: 0.75, dtype: float64

### Object

In [ ]:
df['province'].unique()

array(['Chiang Mai', 'Phrae'], dtype=object)

In [ ]:
df['province'].nunique()

2

In [ ]:
df['province'].value_counts()

Chiang Mai    3
Phrae         3
Name: province, dtype: int64

### Describe

In [ ]:
#Numeric
df[columns_list].describe()

              year    population
count     6.000000  6.000000e+00
mean   2017.000000  1.035564e+06
std       0.894427  6.851977e+05
min    2016.000000  3.989360e+05
25%    2016.250000  4.131998e+05
50%    2017.000000  1.026040e+06
75%    2017.750000  1.655616e+06
max    2018.000000  1.687971e+06

In [ ]:
#Category
df.describe(include=np.object)

          province source
count            6      6
unique           2      3
top     Chiang Mai      A
freq             3      3

In [ ]:
df.describe(include='all')

          province         year    population source  population (K)
count            6     6.000000  6.000000e+00      6        6.000000
unique           2          NaN           NaN      3             NaN
top     Chiang Mai          NaN           NaN      A             NaN
freq             3          NaN           NaN      3             NaN
mean           NaN  2017.000000  1.035564e+06    NaN     1035.563667
std            NaN     0.894427  6.851977e+05    NaN      685.197697
min            NaN  2016.000000  3.989360e+05    NaN      398.936000
25%            NaN  2016.250000  4.131998e+05    NaN      413.199750
50%            NaN  2017.000000  1.026040e+06    NaN     1026.040500
75%            NaN  2017.750000  1.655616e+06    NaN     1655.616000
max            NaN  2018.000000  1.687971e+06    NaN     1687.971000

## Grouping

### Group by

**Optimized groupby methods**
- **count** <BR> Number of non-NA values in the group
- **sum** <BR> Sum of non-NA values
- **mean** <BR> Mean of non-NA values
- **median** <BR> Arithmetic median of non-NA values
- **std, var** <BR> Unbiased (n  1 denominator) standard deviation and variance
- **min, max** <BR> Minimum and maximum of non-NA values
- **prod** <BR> Product of non-NA values
- **first, last** <BR> First and last non-NA values

In [ ]:
# select avg(population) from df group by province
df.groupby('province')['population'].mean()

province
Chiang Mai    1.660804e+06
Phrae         4.103237e+05
Name: population, dtype: float64

In [ ]:
# Convert to DataFrame
df.groupby('province')['population'].mean().reset_index(name='avg_pop')

     province       avg_pop
0  Chiang Mai  1.660804e+06
1       Phrae  4.103237e+05

#### Multiple group by

In [ ]:
mapper = {
    'population' : 'mean'
}

df.groupby('province').agg(mapper)

              population
province
Chiang Mai  1.660804e+06
Phrae       4.103237e+05

In [ ]:
mapper = {
    'population' : ['min','max','mean']
}

df.groupby('province').agg(mapper)

           population
                  min      max          mean
province
Chiang Mai    1630428  1687971  1.660804e+06
Phrae          398936   421653  4.103237e+05

In [ ]:
mapper = {
    'population' : ['min','max','mean'],
    'source' : 'nunique'
}

df.groupby('province').agg(mapper)

           population                         source
                  min      max          mean nunique
province
Chiang Mai    1630428  1687971  1.660804e+06       2
Phrae          398936   421653  4.103237e+05       3

### Group by window

In [ ]:
df['population'].rolling(2).sum()

0          NaN
1    3294440.0
2    3351983.0
3    2086907.0
4     809318.0
5     832035.0
Name: population, dtype: float64

In [ ]:
df['population'].rolling(2, min_periods=1).sum()

0    1630428.0
1    3294440.0
2    3351983.0
3    2086907.0
4     809318.0
5     832035.0
Name: population, dtype: float64

In [ ]:
df.groupby('province')['population'].rolling(2, min_periods=1).sum().reset_index(name='avg_pop_last2year')

     province  level_1  avg_pop_last2year
0  Chiang Mai        0          1630428.0
1  Chiang Mai        1          3294440.0
2  Chiang Mai        2          3351983.0
3       Phrae        3           398936.0
4       Phrae        4           809318.0
5       Phrae        5           832035.0

## Pivot

### Pivot

In [ ]:
df

     province  year  population source  population (K)
0  Chiang Mai  2016     1630428      A        1630.428
1  Chiang Mai  2017     1664012      B        1664.012
2  Chiang Mai  2018     1687971      A        1687.971
3       Phrae  2016      398936      C         398.936
4       Phrae  2017      410382      A         410.382
5       Phrae  2018      421653      B         421.653

In [ ]:
pivot = df.pivot_table(index=['province'], columns=['year'], values=['population'])
pivot

           population
year             2016     2017     2018
province
Chiang Mai    1630428  1664012  1687971
Phrae          398936   410382   421653

In [ ]:
pivot.columns = ['{1}'.format(col[0],col[1]) for col in pivot.columns.values]
pivot = pivot.reset_index()
pivot

     province     2016     2017     2018
0  Chiang Mai  1630428  1664012  1687971
1       Phrae   398936   410382   421653

### Melt

In [ ]:
melt = pd.melt(pivot, id_vars=['province'], value_vars=['2016','2017','2018'])
melt

     province variable    value
0  Chiang Mai     2016  1630428
1       Phrae     2016   398936
2  Chiang Mai     2017  1664012
3       Phrae     2017   410382
4  Chiang Mai     2018  1687971
5       Phrae     2018   421653

In [ ]:
mapper = {
    'variable':'year',
    'value':'population'
}
melt = melt.rename(columns=mapper)
melt

     province  year  population
0  Chiang Mai  2016     1630428
1       Phrae  2016      398936
2  Chiang Mai  2017     1664012
3       Phrae  2017      410382
4  Chiang Mai  2018     1687971
5       Phrae  2018      421653

## Data Cleansing

In [ ]:
# Create From a List
data = [
    ['Chiang Mai', 2016, 1630428],
    ['Chiang Mai', 2017, 1664012],
    ['Chiang Mai', 2018, 1687971],
    ['Phrae', 2016, None],
    ['Phrae', 2017, 410382],
    [None, 2018, 421653]
]
df = pd.DataFrame(
    data=data,
    columns=['province','year','population']
)
df

     province  year  population
0  Chiang Mai  2016   1630428.0
1  Chiang Mai  2017   1664012.0
2  Chiang Mai  2018   1687971.0
3       Phrae  2016         NaN
4       Phrae  2017    410382.0
5        None  2018    421653.0

### Find Null

In [ ]:
df.isnull()

   province   year  population
0     False  False       False
1     False  False       False
2     False  False       False
3     False  False        True
4     False  False       False
5      True  False       False

In [ ]:
df.isna()

   province   year  population
0     False  False       False
1     False  False       False
2     False  False       False
3     False  False        True
4     False  False       False
5      True  False       False

In [ ]:
df.isnull().sum()

province      1
year          0
population    1
dtype: int64

### Drop NA

In [ ]:
df.dropna()

     province  year  population
0  Chiang Mai  2016   1630428.0
1  Chiang Mai  2017   1664012.0
2  Chiang Mai  2018   1687971.0
4       Phrae  2017    410382.0

In [ ]:
df.dropna(subset = ['province'])

     province  year  population
0  Chiang Mai  2016   1630428.0
1  Chiang Mai  2017   1664012.0
2  Chiang Mai  2018   1687971.0
3       Phrae  2016         NaN
4       Phrae  2017    410382.0

In [ ]:
df # to show that all commands don't replace (remind)

     province  year  population
0  Chiang Mai  2016   1630428.0
1  Chiang Mai  2017   1664012.0
2  Chiang Mai  2018   1687971.0
3       Phrae  2016         NaN
4       Phrae  2017    410382.0
5        None  2018    421653.0

### Fill NA

In [ ]:
df.fillna('Missing')

     province  year   population
0  Chiang Mai  2016  1.63043e+06
1  Chiang Mai  2017  1.66401e+06
2  Chiang Mai  2018  1.68797e+06
3       Phrae  2016      Missing
4       Phrae  2017       410382
5     Missing  2018       421653

In [ ]:
mapper = {
    'province' : 'Unknown',
    'population' : df['population'].mean()
}
print(mapper)
display(df.fillna(mapper))

{'province': 'Unknown', 'population': 1162889.2}

     province  year  population
0  Chiang Mai  2016   1630428.0
1  Chiang Mai  2017   1664012.0
2  Chiang Mai  2018   1687971.0
3       Phrae  2016   1162889.2
4       Phrae  2017    410382.0
5     Unknown  2018    421653.0

## Append and Join

### Append

In [ ]:
# Create From a List
data = [
    ['Chiang Mai', 2016, 1630428],
    ['Chiang Mai', 2017, 1664012],
    ['Chiang Mai', 2018, 1687971],
]
df1 = pd.DataFrame(
    data=data,
    columns=['province','year','population']
)
df1

     province  year  population
0  Chiang Mai  2016     1630428
1  Chiang Mai  2017     1664012
2  Chiang Mai  2018     1687971

In [ ]:
# Create From a List
data = [
    ['Phrae', 2016, 398936],
    ['Phrae', 2017, 410382],
    ['Phrae', 2018, 421653]
]
df2 = pd.DataFrame(
    data=data,
    columns=['province','year','population']
)
df2

  province  year  population
0    Phrae  2016      398936
1    Phrae  2017      410382
2    Phrae  2018      421653

In [ ]:
df = df1.append(df2)
df

     province  year  population
0  Chiang Mai  2016     1630428
1  Chiang Mai  2017     1664012
2  Chiang Mai  2018     1687971
0       Phrae  2016      398936
1       Phrae  2017      410382
2       Phrae  2018      421653

In [ ]:
df = pd.concat([df1, df2])
df

     province  year  population
0  Chiang Mai  2016     1630428
1  Chiang Mai  2017     1664012
2  Chiang Mai  2018     1687971
0       Phrae  2016      398936
1       Phrae  2017      410382
2       Phrae  2018      421653

In [ ]:
df2 = pd.concat([df1, df2], axis=1)
df2

     province  year  population province  year  population
0  Chiang Mai  2016     1630428    Phrae  2016      398936
1  Chiang Mai  2017     1664012    Phrae  2017      410382
2  Chiang Mai  2018     1687971    Phrae  2018      421653

### Join

In [ ]:
df

     province  year  population
0  Chiang Mai  2016     1630428
1  Chiang Mai  2017     1664012
2  Chiang Mai  2018     1687971
0       Phrae  2016      398936
1       Phrae  2017      410382
2       Phrae  2018      421653

In [ ]:
avg_df = df.groupby('province')['population'].mean().reset_index(name='avg_pop')
avg_df

     province       avg_pop
0  Chiang Mai  1.660804e+06
1       Phrae  4.103237e+05

In [ ]:
df.dtypes

province      object
year           int64
population     int64
dtype: object

In [ ]:
avg_df.dtypes

province     object
avg_pop     float64
dtype: object

In [ ]:
df.merge(avg_df, on = 'province', how = 'inner')

     province  year  population       avg_pop
0  Chiang Mai  2016     1630428  1.660804e+06
1  Chiang Mai  2017     1664012  1.660804e+06
2  Chiang Mai  2018     1687971  1.660804e+06
3       Phrae  2016      398936  4.103237e+05
4       Phrae  2017      410382  4.103237e+05
5       Phrae  2018      421653  4.103237e+05

## SQL

In [ ]:
!pip install pandasql

Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.19.5)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.1.5)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.4.27)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->pandasql) (1.15.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (1.1.2)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (4.8.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (3.6.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (3.10.0.2)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py) ... done
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26781 sha256=ffcc4ec77d3b796f27afc80df255ef93b45602ce9e70d34b0835315144c14afb
  Stored in directory: /root/.cache/pip/wheels/5c/4b/ec/41f4e116c8053c3654e2c2a47c62b4fca34cc67ef7b55deb7f
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3

In [ ]:
import pandasql

In [ ]:
sql_df = pandasql.sqldf("SELECT * FROM df;", globals())
sql_df

     province  year  population
0  Chiang Mai  2016     1630428
1  Chiang Mai  2017     1664012
2  Chiang Mai  2018     1687971
3       Phrae  2016      398936
4       Phrae  2017      410382
5       Phrae  2018      421653

In [ ]:
sql_df = pandasql.sqldf("select province, avg(population) from df group by province;", globals())
sql_df

     province  avg(population)
0  Chiang Mai     1.660804e+06
1       Phrae     4.103237e+05